{% block form_widget_compound %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }} class="fields_container">
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
            
        {% if prototype is defined and allow_add is defined  %}
            <button class="button add_subitem" >Add new</button>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock form_widget_compound %}

{% block form_rows %}
{% spaceless %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock form_rows %}

{% block form_row %}
{% spaceless %}
    <div class="form_row">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        </div>
{% endspaceless %}
{% endblock form_row %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        <div class="element">
        {{ form_widget(child) }}
        {{ form_label(child) }}
        </div>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}