<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title 'PIM Xtreme Online' %}</title>

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="mobile-web-app-capable" content="yes">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="theme-color" content="#820882">
            <link rel="shortcut icon" type="image/x-icon" href="{{asset('favicon.ico')}}"/>

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('css/frontend.css') }}" />

            {% javascripts
            'bower_components/jquery/dist/jquery.min.js'
            'bower_components/bootstrap/dist/js/bootstrap.min.js'
            'js/main.js'
            output='js/compiled/frontend-login.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block main_content %}
                <div class="container text-center">
                    <a class="pimx_logo d-block mb-2" href="{{ path('_home') }}">
                        <img src="{{ asset('images/pimxlogo.png') }}" />
                    </a>
                    <form class="login center-block" action="{{ path('login_check') }}" 
                          method="post" role="form">
                        <input type="text" id="username" class="form-control"
                               name="_username" placeholder="Username"
                               value="{{ last_username }}" />
                        <input type="password" id="password"  class="form-control"
                               name="_password" placeholder="Password" />

                        {#
                        <div class="form-group">
                            <label for="db_name">DB Database:</label>
                            <input type="password" id="db_name" name="db_name" />
                        </div>
                        <div class="form-group">
                            <label for="db_user">DB User:</label>
                            <input type="password" id="db_user" name="db_user" />
                        </div>
                        <div class="form-group">
                            <label for="db_pass">DB Pass:</label>
                            <input type="password" id="db_pass" name="db_pass" />
                        </div>
                        #}

                        <button type="submit" 
                                class="btn btn-primary btn-block btn-lg">Login</button>

                        {% if error %}
                            <div class="error_message text-danger">{{ error.message }}</div>
                        {% endif %}
                    </form>
                </div>

            {% endblock %}

        {% endblock %}
    </body>
</html>