{% extends 'PimxFrontendBundle::layout.html.twig' %}

{% macro accountsCollectionItem(formData) %}
	<tr class="crud-item">
		<td>{{ form_widget(formData.account) }}</td>
		<td>{{ form_widget(formData.sign) }}</td>
		<td>{{ form_widget(formData.amount) }}</td>
		<td>
			<a href="#" class="btn btn-sm btn-danger delete-item-btn" title="Remove"><i class="fa fa-trash"></i></a>
		</td>
	</tr>
{% endmacro %}
	
{% block main_content %}
    <h1 class="title">{% trans %}movement.newmovement{% endtrans %}</h1>
	
    <form class="entity_form standard"
          action="{{ path('_movement_new') }}" method="post" {{ form_enctype(form) }}>

        <div class="row">        
            <section class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.date) }}
                    {{ form_errors(form.date) }}
                    {{ form_widget(form.date) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.labels) }}
                    {{ form_errors(form.labels) }}
                    {{ form_widget(form.labels) }}
                </div>
            </section>
            <section class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.type) }}
                    {{ form_errors(form.type) }}
                    {{ form_widget(form.type) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.group) }}
                    {{ form_errors(form.group) }}
                    {{ form_widget(form.group) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.notes) }}
                    {{ form_errors(form.notes) }}
                    {{ form_widget(form.notes) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.appliedAccounts) }}
					<div class="panel panel-default applied-accounts-list">
						<div class="panel-heading">
							Applied accounts
							<a href="#" class="btn btn-xs btn-primary pull-right new-item-btn">
								<i class="fa fa-plus"></i> Add new
							</a>
						</div>
						<table class="table table-condensed crud-symf"
							 data-prototype="{{ _self.accountsCollectionItem(form.appliedAccounts.vars.prototype)|e }}">
							{% for appliedAccount in form.appliedAccounts %}
								{{ _self.accountsCollectionItem(appliedAccount) }}
							{% endfor %}
						</table>
						{% do form.appliedAccounts.setRendered %}
					</div>
                </div>
            </section>
        </div>
        <div class="row">  
            <section  class="col-md-12">
                {{ form_widget(form) }}
                <div class="btn-group" role="group" aria-label="...">
                    <button type="submit" class="btn btn-primary" name="button_action" value="save" >
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
                    </button>
                    <button type="submit" class="btn btn-primary" name="button_action" value="save_and_new" >
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Save and New
                    </button>
                    <button type="submit" class="btn btn-default" name="button_action" value="save_and_new_based" >
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
                        Save and New (based on...)
                    </button>
                </div>
            </section>
        </div>

    </form>

{% endblock %}


{% block js_bottom %}

    <script src="{{asset('js/jquery.crudsymf.js')}}"></script>
    <script>
        $(document).ready(function () {
            $('.crud-symf').crudsymf({
                newButton: $('.applied-accounts-list .new-item-btn')
            });
        });
    </script>
{% endblock %}
