{% extends 'PimxFrontendBundle::layout.html.twig' %}

{% macro accountsCollectionItem(formData) %}
    <tr class="crud-item">
        <td>{{ form_widget(formData.account) }}</td>
        <td>{{ form_widget(formData.sign) }}</td>
        <td>{{ form_widget(formData.amount) }}</td>
        <td>
            <a href="#" class="btn btn-sm btn-danger delete-item-btn" title="Remove"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
{% endmacro %}

{% block main_content %}
    <h1 class="title">{% trans %}movement.newmovement{% endtrans %}</h1>

    {{form_start(form)}}

    <div class="row">        
        <section class="col-md-6">
            {{form_row(form.name)}}
            {{form_row(form.date)}}

            {% form_theme form.labels 'PimxFrontendBundle:Movement:_label_list.html.twig' %}
            {{form_row(form.labels)}}
        </section>
        <section class="col-md-6">
            {{form_row(form.type)}}
            {{form_row(form.group)}}
            {{form_row(form.notes)}}
            <div class="form-group">
                {{ form_errors(form.appliedAccounts) }}
                <div class="card applied-accounts-list">
                    <div class="card-header">
                        Applied accounts
                        <a href="#" class="btn btn-sm btn-primary pull-xs-right new-item-btn">
                            <i class="fa fa-plus"></i> Add new
                        </a>
                    </div>
                    <table class="table table-sm crud-listin"
                           data-prototype="{{ _self.accountsCollectionItem(form.appliedAccounts.vars.prototype)|e }}">
                        {% for appliedAccount in form.appliedAccounts %}
                            {{ _self.accountsCollectionItem(appliedAccount) }}
                        {% endfor %}
                    </table>
                    {% do form.appliedAccounts.setRendered %}
                </div>
            </div>
        </section>
    </div>
    <div class="row">  
        <section  class="col-md-12">
            {{ form_widget(form) }}
            <div class="btn-group" role="group" aria-label="...">
                <button type="submit" class="btn btn-primary" name="button_action" value="save" >
                    <i class="fa fa-check"></i> Save
                </button>
                <button type="submit" class="btn btn-primary" name="button_action" value="save_and_new" >
                    <i class="fa fa-check"></i>
                    <i class="fa fa-add"></i>
                    Save and New
                </button>
                <button type="submit" class="btn btn-secondary" name="button_action" value="save_and_new_based" >
                    <i class="fa fa-check"></i>
                    <i class="fa fa-copy"></i>
                    Save and New (based on...)
                </button>
            </div>
        </section>
    </div>

    {{form_end(form)}}

{% endblock %}


{% block js_bottom %}

    <script src="{{asset('bower_components/jquery-crudlistin/dist/jquery.crudlistin.min.js')}}"></script>
    <script>
        $(document).ready(function () {
            $('.crud-listin').crudlistin({
                newButton: $('.applied-accounts-list .new-item-btn'),
                beforeRemoveElement: function () {
                    return confirm('Delete item?');
                }
            });
        });
    </script>
{% endblock %}
