{% extends 'PimxFrontendBundle::layout.html.twig' %}

{% block main_content %}
    <h1 class="title">{% trans %}movement.newmovement{% endtrans %}</h1>

    <form class="entity_form standard"
          action="{{ path('_movement_new') }}" method="post" {{ form_enctype(form) }}>

        <div class="row">        
            <section class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.date) }}
                    {{ form_errors(form.date) }}
                    {{ form_widget(form.date) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.labels) }}
                    {{ form_errors(form.labels) }}
                    {{ form_widget(form.labels) }}
                </div>
            </section>
            <section class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.type) }}
                    {{ form_errors(form.type) }}
                    {{ form_widget(form.type) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.group) }}
                    {{ form_errors(form.group) }}
                    {{ form_widget(form.group) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.notes) }}
                    {{ form_errors(form.notes) }}
                    {{ form_widget(form.notes) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.appliedAccounts) }}
                    {{ form_errors(form.appliedAccounts) }}
                    {{ form_widget(form.appliedAccounts) }}
                </div>
            </section>
        </div>
        <div class="row">  
            <section  class="col-md-12">
                {{ form_widget(form) }}
                <div class="btn-group" role="group" aria-label="...">
                    <button type="submit" class="btn btn-primary" name="button_action" value="save" >
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
                    </button>
                    <button type="submit" class="btn btn-primary" name="button_action" value="save_and_new" >
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Save and New
                    </button>
                    <button type="submit" class="btn btn-default" name="button_action" value="save_and_new_based" >
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
                        Save and New (based on...)
                    </button>
                </div>
            </section>
        </div>

    </form>

{% endblock %}
