{% extends 'PimxFrontendBundle::layout.html.twig' %}

{% block main_content %}
<h1 class="title">{% trans %}account.title{% endtrans %}</h1>

<a class="button" href="{{ path('_account_new') }}">
    {% trans %}text.add{% endtrans %}
</a>

    <table class="datagrid">
        <thead>
            <tr>
                <th>{{ 'text.code'|trans }}</th>
                <th>{{ 'text.description'|trans }}</th>
                <th>{{ 'account.sign'|trans }}</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>
                    <a href="{{ path('_account_edit', {'item_id': item.code}) }}">
                        {{ item.code }}
                    </a>
                </td>
                <td>{{ item.description }}</td>
                <td>{{ item.sign }}</td>
                <td>
                    <a href="{{ path('_movement', {'movfilter[acc_cod]': item.code}) }}">
                        {{ 'account.seemovements'|trans }}
                    </a>
                    
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
{% endblock %}
