<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title 'PIM Xtreme Online' %}</title>
            <link rel="stylesheet" href="{{ asset('css/template.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/pimx/jquery-ui-1.10.3.custom.min.css') }}" />

            <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
            <script src="{{ asset('js/jquery-ui-1.10.3.custom.min.js') }}"></script>
            <script src="{{ asset('js/knockout-2.2.1.js') }}"></script>
            <script src="{{ asset('js/globalize.min.js') }}"></script>
            <script src="{{ asset('js/dx.chartjs.js') }}"></script>

            <script src="{{ asset('js/forms.js') }}" ></script>
        {% endblock %}
        </head>
        <body>

    {% block body %}
            <header>
                <a class="pimx_logo" href="{{ path('_home') }}">
                    <img src="{{ asset('images/pimxlogo.png') }}" />
                </a>
                {% if is_granted('ROLE_USER') %}
                {{ include( 'PimxFrontendBundle::mainmenu.html.twig' ) }}
                <div class="user_panel">
                    <span class="username">{{ app.user.username }}</span>
                    <a class="button" href="{{ path('logout') }}">{% trans %}user.logout{%endtrans%}</a>
                </div>
                {% endif %}
            </header>

            <section id="main_content">
        {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message notice"> {{ flashMessage }} </div>
        {% endfor %}
                
        {% block main_content %}
        {% endblock %}
            </section>

{% endblock %}
        </body>
    </html>