<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title 'PIM Xtreme Online' %}</title>
            
            <meta name="viewport" content="width=device-width, initial-scale=1">
            
            <link rel="stylesheet" href="{{ asset('css/template.css') }}" />
        {% endblock %}
        </head>
        <body>
        {% block body %}

                <div id="header">
                    <a class="pimx_logo" href="{{ path('_home') }}">
                        <img src="{{ asset('images/pimxlogo.png') }}" />
                    </a>
                </div>

            {% block main_content %}
                <form class="login" action="{{ path('login_check') }}" method="post">
                    <div class="form_row">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" />
                    </div>

                    <div class="form_row">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password" />
                    </div>
                    
                    
                    <div class="form_row">
                        <label for="db_name">DB Database:</label>
                        <input type="password" id="db_name" name="db_name" />
                    </div>
                    <div class="form_row">
                        <label for="db_user">DB User:</label>
                        <input type="password" id="db_user" name="db_user" />
                    </div>
                    <div class="form_row">
                        <label for="db_pass">DB Pass:</label>
                        <input type="password" id="db_pass" name="db_pass" />
                    </div>

                    <button type="submit">login</button>
                    
                    {% if error %}
                        <div class="error_message">{{ error.message }}</div>
                    {% endif %}
                </form>

            {% endblock %}

        {% endblock %}
                </body>
            </html>