{% extends 'PimxFrontendBundle::layout.html.twig' %}

{% block main_content %}
<h1 class="title">{% trans %}movement.title{% endtrans %}</h1>

<a class="button" href="{{ path('_movement_new') }}">
    {% trans %}text.add{% endtrans %}
</a>

<table class="datagrid">
    <thead>
        <tr>
            <th>{{'text.name'|trans}}</th>
            <th>{{'text.date'|trans}}</th>
            <th>{{'text.group'|trans}}</th>
            <th>{{'text.type'|trans}}</th>
            <th>{{'text.in'|trans}}</th>
            <th>{{'text.out'|trans}}</th>
            <th>{{'text.notes'|trans}}</th>
            <th>{{'text.labels'|trans}}</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>
                <a href="{{ path('_movement_edit', {'item_id': item.id}) }}">
                    {{ item.name }}
                </a>
            </td>
            <td>{{ item.date|date('Y-m-d H:i') }}</td>
            <td>{{ item.group is null ? '' : item.group.description }}</td>
            <td>{{ item.type is null ? '' : item.type.description }}</td>
            <td class="amount">{{ item.inTotal|number_format(2) }}</td>
            <td class="amount">{{ item.outTotal|number_format(2) }}</td>
            <td>{{ item.notes }}</td>
            <td>
                {% for label in item.labels %}
                    <span class="label">{{ label.name }}</span>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{{ include( 'PimxFrontendBundle:Pagination:navigation.html.twig', {'paginator': paginator} ) }}
{% endblock %}
