<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand pimx_logo" href="{{ path('_home') }}">
                <img src="{{ asset('images/pimxlogo.png') }}" alt="PIM Xtreme" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="menu nav navbar-nav">
                {#<li><a href="{{ path('_home') }}">{% trans %}menu.home{%endtrans%}</a></li>#}
                <li><a href="{{ path('_account') }}">{% trans %}menu.accounts{%endtrans%}</a></li>
                <li><a href="{{ path('_currency') }}">{{ 'menu.currencies'|trans }}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'menu.movements'|trans }}</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('_movement') }}">{{ 'text.list'|trans }}</a></li>
                        <li><a href="{{ path('_movement_new') }}">{{ 'text.add'|trans }}</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('_label') }}">{% trans %}menu.labels{%endtrans%}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'menu.reports'|trans }}</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('_report_fin_monthbalance') }}">{{ 'report.monthbalance'|trans }}</a></li>
                        <li><a href="{{ path('_report_fin_accountbalance') }}">{{ 'report.accountbalance'|trans }}</a></li>
                        <li><a href="{{ path('_report_fin_groupbalance') }}">{{ 'report.groupbalance'|trans }}</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('_note') }}">{{ 'menu.notes'|trans }}</a></li>
                <li><a href="{{ path('logout') }}" class="">{{ 'user.logout'|trans }}</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>